*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    height: 72px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    background: gray;
    color: white;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    width: 255px;
    height: 40px;
    top: 16px;
    right: 991px;
    gap: 8px;
} 

nav a:hover{
    color: red;
    font-size: 20px;
}

nav .logo{
    margin-right: auto;
}

.logo{
    width: 30px;
    height: 30px;
    text-align: center;
}

nav svg{
    fill: var(--text-color);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}



   @media(max-width: 768px){ 
     .links-container{ 
        flex-direction: column; 
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        color: white;
        background-color: gray;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .close-sidebar-button, .open-sidebar-button{
        padding: 20px;
        display: block;
        color: white;
    }
   #sidebar-active:checked~ .links-container{
    right: 0;
}
#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
}

nav{
display: block;
flex-direction: row;
height: 10vh;
float: clear;
}

.open-sidebar-button{
right: 20px;
position: absolute;
}
.discover{
    padding: 40px 80px;
    width: 60%;
    margin: 40px;
}
.discover h3{
    color: red;
    font-size: 25px;
}

.discover h1{
    color: red;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    gap: 1px;
}

.day{
    font-weight: bold;
    font-size: 40px;
}
